[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
gunicorn = "*"
django-cors-headers = "*"
yake = {git = "https://github.com/LIAAD/yake"}
django-filter = "*"
pdfminer-six = "*"
django-on-heroku = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
